// Footer styles.

.footer-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: inline;
	}

	a {
		display: inline-block;
	}
}

.footer-search {
	@include center-block;

	input {
		background-color: darken($footer_bg, 2.5%);
		border-color: darken($footer_bg, 8%);
		border-top-color: darken($footer_bg, 12%);
	}

	button {
		background-color: lighten($footer_bg, 3%);
		border-color: darken($footer_bg, 8%);
		border-bottom-color: darken($footer_bg, 12%);
	}
}

.login a {
	color: darken($body-bg, 15%);
	width: 50px;
	margin-right: -50px;
	
	&:hover {
		color: darken($body-bg, 50%);
	}
}