// Display alternate mobile menu when available
.show-mobile-menu {
	.desktop-menu {display: none;}
	.mobile-menu {display: block;}
}
@media (min-width: $grid-float-breakpoint) {
	.show-mobile-menu {
		.desktop-menu {display: block;}
		.mobile-menu {display: none;}
	}
}

// Hide navbar brand except on mobile
@media (min-width: $grid-float-breakpoint) {
	.navbar-brand {
		display: none;
	}
}