// Social media icon layouts
$social_icon_size: 48px;
$social_icon_font_size: 21px;
$social_icon_contrast: #fff;
$social_icon_border_radius: 5%; // 0 squares, 5% hard corners, 12.5% soft corners, 50% circles


// Social media brand colors
$social_brand_facebook:		#3B5998;
$social_brand_twitter:		#55acee;
$social_brand_google-plus:	#DC4E41;
$social_brand_google:		#EA4335;
$social_brand_linkedin:		#0077B5;
$social_brand_youtube:		#cd201f;
$social_brand_vimeo:		#1ab7ea;
$social_brand_instagram:	#3f729b;
$social_brand_pinterest:	#bd081c;
$social_brand_tumblr:		#35465c;
$social_brand_yelp:			#af0606;
$social_brand_foursquare:	#f94877;
$social_brand_skype:		#00aff0;
$social_brand_rss:			#f26522;
$social_brand_phone:		#333 !default;
$social_brand_directions:	#333 !default;
$social_brand_email:		#333 !default;
$social_brand_custom1:		#333 !default;
$social_brand_custom2:		#333 !default;
$social_brand_custom3:		#333 !default;

.social-icons {
	text-align: center;
	@include list-clean;
	@include clearfix;

	> li {
		display: inline-block;

		> a {
			display: block;
			float: left;
			border-radius: $social_icon_border_radius;
		}
	}

	$socicons:(
		(facebook, $social_brand_facebook),
		(twitter, $social_brand_twitter),
		(google-plus, $social_brand_google-plus),
		(google, $social_brand_google),
		(linkedin, $social_brand_linkedin),
		(youtube, $social_brand_youtube),
		(vimeo, $social_brand_vimeo),
		(instagram, $social_brand_instagram),
		(pinterest, $social_brand_pinterest),
		(tumblr, $social_brand_tumblr),
		(yelp, $social_brand_yelp),
		(foursquare, $social_brand_foursquare),
		(skype, $social_brand_skype),
		(rss, $social_brand_rss),
		(phone, $social_brand_phone),
		(directions, $social_brand_directions),
		(email, $social_brand_email),
		(custom1, $social_brand_custom1),
		(custom2, $social_brand_custom2),
		(custom3, $social_brand_custom3)
	);
	@each $icon, $color in $socicons {
		.#{$icon} a {
			background-color: #{$color};
			color: $social_icon_contrast;

			&:hover, &:focus, &:active {
				background-color: $social_icon_contrast;
				color: #{$color};
			}
		}
	}
}

.socicon {
		@include square($social_icon_size);
		display: block;
		font-size: $social_icon_font_size;
		line-height: $social_icon_size;
		text-align: center;
	}
	
.sociname { display: none; }