// WordPress image alignment
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	@include center-block;
}

// Fit embeds and iframes in content
embed,
iframe,
object {
	max-width: 100%;
}

// Fit all images in content
img {
	@include img-responsive;
}

// WordPress emojis and smileys
img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}