// Footer

#footer {
	background-color: $footer_bg;
	border-top: 1px solid darken($footer_bg, 20%);
	padding: 15px 0;

	@include social-icons-style( 50%, 48px, 20px, center, 5px);

	.footer-menu,
	.social-icons,
	.footer-search {
		margin-bottom: 15px;
	}
}

.footer-nav {
	text-align: center;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: inline;
	}

	a {
		color: darken($footer_bg, 50%);
		padding: 5px;
		display: inline-block;
	}
}

.footer-search {
	max-width: 300px;
	@include center-block;

	input {
		background-color: darken($footer_bg, 2.5%);
		border-color: darken($footer_bg, 8%);
		border-top-color: darken($footer_bg, 12%);
	}

	button {
		background-color: lighten($footer_bg, 3%);
		border-color: darken($footer_bg, 8%);
		border-bottom-color: darken($footer_bg, 12%);
	}
}

.copyright {
	text-align: center;
	margin-bottom: 15px;
}

.login a {
	color: darken($body-bg, 15%);
	width: 50px;
	margin-right: -50px;
	
	&:hover {
		color: darken($body-bg, 50%);
	}
}