// Background
$body-bg:               #eee;

//** Global text color on `<body>`.
$text-color:            #555;

// Global textual link color.
$link-color:            #e7302a;
$link-visited-color:    lighten($link-color, 15%);
$link-hover-color:      darken($link-color, 15%);

// Link hover decoration.
$link-hover-decoration: underline; // underline; none;


// Mobile Menu Breakpoint
$grid-float-breakpoint: 992px; // $screen-sm-min; $screen-md-min; $screen-lg-min;

// Sidebar width
$sidebar_col_width: 4; // in columns

// Footer background color
$footer_bg: $body-bg;

// Letterhead Layout Variables
$lh-background-color: #fff;
$lh-box-shadow: 0 2px 5px rgba(0,0,0,.25);
$lh-border-color: #eee;
$lh-border-width: 0px;
$lh-border-radius: 4px;
$lh-margin-top: 20px;
$lh-margin-bottom: 20px;


// Chroma Sites logo size (in footer)
$chroma-sites-brand-size: 64px;
