// Post
.entry-meta .fa,
.entry-footer .fa {
	color: #aaa;
}

.entry-content,
.entry-summary,
.entry-meta,
.entry-share-buttons,
.entry-footer {
	margin: 1em 0;
}

.entry-meta {

	&,
	a,
	a:hover {
		color: #555;
		text-decoration: none;
	}

	.fa {
		color: #ccc;
	}

}