// Theme Variables
// DO NOT INCLUDE CSS

// Brand Colors
$brand-primary:         #337ab7;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;

// General
$body-bg:               #fff;
$text-color:            #555;
$link-color:            $brand-primary;
$link-hover-decoration: underline; // underline, none

// Fonts
$font-size-base:          14px;
$line-height-base:        (24/14);
$font-family-base:        $font-family-sans-serif; // $font-family-serif
$headings-font-family:    inherit;

// Navbar
$navbar-height:                    50px; 
$navbar-border-radius:             0;

// Modal Popups
$modal-backdrop-bg:           #000;
$modal-backdrop-opacity:      .5;

// Footer background color
$footer_bg: $body-bg;